.copy_right_footer {
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
}
body{
    background-color: rgb(150, 238, 219);
    font-family: sans-serif;
    font-style: bold;
   font-size: 100px;
}

h1{
    font-family: sans-serif;
    font-style: bold;
   font-size: 100px;
}

h4{
    font-family: sans-serif;
    font-style: bold, underline;
   font-size: 100px;
}
#camera{
    width: 50px;
    height: 500px;
    border-color: azure;
}
img{
    width:35%
 
}

img:hover{
    border-radius:140px;
}
